USE [expalsa_db]
GO
/****** Object:  Table [dbo].[DscTblCatalogs]    Script Date: 2025-02-13 11:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DscTblCatalogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Grupo] [nvarchar](100) NULL,
	[Valor] [varchar](100) NULL,
 CONSTRAINT [PK_DscTblCatalogo_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DscTblProducts]    Script Date: 2025-02-13 11:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DscTblProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Foto] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Talla] [nvarchar](50) NOT NULL,
	[EstatusCabezaId] [int] NOT NULL,
	[CongelamientoId] [int] NOT NULL,
	[MarcaId] [int] NOT NULL,
	[IsDeleted] [tinyint] NOT NULL,
 CONSTRAINT [PK_DscTblProducts_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DscTblCatalogs] ON 

INSERT [dbo].[DscTblCatalogs] ([Id], [Grupo], [Valor]) VALUES (1, N'EstatusCabeza', N'Entero')
INSERT [dbo].[DscTblCatalogs] ([Id], [Grupo], [Valor]) VALUES (2, N'EstatusCabeza', N'Cola')
INSERT [dbo].[DscTblCatalogs] ([Id], [Grupo], [Valor]) VALUES (3, N'Congelamiento', N'IQF')
SET IDENTITY_INSERT [dbo].[DscTblCatalogs] OFF
GO
SET IDENTITY_INSERT [dbo].[DscTblProducts] ON 

SET IDENTITY_INSERT [dbo].[DscTblProducts] OFF
GO
ALTER TABLE [dbo].[DscTblProducts] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DscTblProducts]  WITH CHECK ADD  CONSTRAINT [FK_DscTblProducts_CongelamientoId] FOREIGN KEY([CongelamientoId])
REFERENCES [dbo].[DscTblCatalogs] ([Id])
GO
ALTER TABLE [dbo].[DscTblProducts] CHECK CONSTRAINT [FK_DscTblProducts_CongelamientoId]
GO
ALTER TABLE [dbo].[DscTblProducts]  WITH CHECK ADD  CONSTRAINT [FK_DscTblProducts_EstatusCabezaId] FOREIGN KEY([EstatusCabezaId])
REFERENCES [dbo].[DscTblCatalogs] ([Id])
GO
ALTER TABLE [dbo].[DscTblProducts] CHECK CONSTRAINT [FK_DscTblProducts_EstatusCabezaId]
GO
ALTER TABLE [dbo].[DscTblProducts]  WITH CHECK ADD  CONSTRAINT [FK_DscTblProducts_MarcaId] FOREIGN KEY([MarcaId])
REFERENCES [dbo].[DscTblCatalogs] ([Id])
GO
ALTER TABLE [dbo].[DscTblProducts] CHECK CONSTRAINT [FK_DscTblProducts_MarcaId]
GO
/****** Object:  StoredProcedure [dbo].[DscSprCatalogByGroup]    Script Date: 2025-02-13 11:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DscSprCatalogByGroup](
@Grupo NVARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

    SELECT
	Id,
	Valor
    FROM dbo.DscTblCatalogs p 
	WHERE Grupo=@Grupo;
	
	END TRY
    
	BEGIN CATCH
    
	DECLARE @ERROR NVARCHAR(MAX) =  'Error: ' + ERROR_MESSAGE() + ' Severidad: ' + ERROR_SEVERITY() + ' Estado: ' + ERROR_STATE();
	THROW 50001, @ERROR, 1

    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[DscSprProductGetAll]    Script Date: 2025-02-13 11:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DscSprProductGetAll]
AS
BEGIN

    BEGIN TRY

    SELECT p.Id,
			p.Foto,
			p.Nombre,
			p.Talla,
			p.EstatusCabezaId,
			ce.Valor as EstatusCabezaName,
			p.CongelamientoId,
			cc.Valor as CongelamientoName,
			p.MarcaId,
			cm.Valor as MarcaName
    FROM dbo.DscTblProducts p with(nolock) inner join DscTblCatalogs cm with(nolock) on (p.MarcaId = cm.Id )
	inner join DscTblCatalogs cc with(nolock) on (p.CongelamientoId = cc.Id )
	inner join DscTblCatalogs ce with(nolock) on (p.EstatusCabezaId = ce.Id )
	WHERE p.IsDeleted = 0;
	
	END TRY
    
	BEGIN CATCH
    
	DECLARE @ERROR NVARCHAR(MAX) =  'Error: ' + ERROR_MESSAGE() + ' Severidad: ' + ERROR_SEVERITY() + ' Estado: ' + ERROR_STATE();
	THROW 50001, @ERROR, 1

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DscSprProductGetById]    Script Date: 2025-02-13 11:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DscSprProductGetById](
@Id int
)
AS
BEGIN

    BEGIN TRY

    SELECT
	p.Id,
			p.Foto,
			p.Nombre,
			p.Talla,
			p.EstatusCabezaId,
			p.CongelamientoId,
			p.MarcaId
    FROM dbo.DscTblProducts p with(nolock)
	WHERE p.IsDeleted = 0 and Id=@Id;
	
	END TRY
    
	BEGIN CATCH
    
	DECLARE @ERROR NVARCHAR(MAX) =  'Error: ' + ERROR_MESSAGE() + ' Severidad: ' + ERROR_SEVERITY() + ' Estado: ' + ERROR_STATE();
	THROW 50001, @ERROR, 1

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DscSprProductsCreate]    Script Date: 2025-02-13 11:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[DscSprProductsCreate](
		   
	        @Foto NVARCHAR(MAX),
			@Nombre nvarchar(200),
			@EstatusCabezaId int,
			@Talla nvarchar(50),
			@CongelamientoId int ,
			@MarcaId int
)
AS
BEGIN
BEGIN TRY
BEGIN TRANSACTION
INSERT INTO [dbo].[DscTblProducts]
           (Foto,
			Nombre,
			EstatusCabezaId,
			Talla,
			CongelamientoId,
			MarcaId)
     VALUES
		   (@Foto,
			@Nombre,
			@EstatusCabezaId,
			@Talla,
			@CongelamientoId,
			@MarcaId);

		   COMMIT TRANSACTION
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION
	DECLARE @ERROR VARCHAR(MAX);
	SET @ERROR = CONCAT('Mensaje: ',ERROR_MESSAGE(), ' Severidad: ', ERROR_SEVERITY(), ' Estado: ', ERROR_STATE());

	THROW 50001, @ERROR,1;

END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DscSprProductsDelete]    Script Date: 2025-02-13 11:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[DscSprProductsDelete](
			@Id int
		   
)
AS
BEGIN
BEGIN TRANSACTION
BEGIN TRY

IF NOT EXISTS (select 1 from DscTblProducts where Id = @Id and IsDeleted = 0)
BEGIN
ROLLBACK TRANSACTION;
THROW 50002, 'No existe este producto',1;
END;

UPDATE [dbo].[DscTblProducts]
SET
isDeleted = 1
 WHERE Id = @Id and IsDeleted = 0

 COMMIT TRANSACTION

END TRY

BEGIN CATCH
	ROLLBACK TRANSACTION
	DECLARE @ERROR VARCHAR(MAX);
	SET @ERROR = CONCAT('Mensaje: ',ERROR_MESSAGE(), ' Severidad: ', ERROR_SEVERITY(), ' Estado: ', ERROR_STATE());

	THROW 50001, @ERROR,1;

END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DscSprProductsUpdate]    Script Date: 2025-02-13 11:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[DscSprProductsUpdate](
			@Id int,
		   @Foto NVARCHAR(MAX),
			@Nombre nvarchar(200),
			@EstatusCabezaId int,
			@Talla nvarchar(50),
			@CongelamientoId int ,
			@MarcaId int
           
)
AS
BEGIN
BEGIN TRANSACTION
BEGIN TRY




IF NOT EXISTS (select 1 from DscTblProducts where Id = @Id and IsDeleted = 0)
BEGIN
ROLLBACK TRANSACTION;
THROW 50002, 'No existe este producto',1;
END;

UPDATE [dbo].[DscTblProducts]
SET
Foto=@Foto,
			Nombre=@Nombre,
			EstatusCabezaId=@EstatusCabezaId,
			Talla=@Talla,
			CongelamientoId=@CongelamientoId,
			MarcaId=@MarcaId
 WHERE Id = @Id and IsDeleted = 0

 COMMIT TRANSACTION

END TRY

BEGIN CATCH
	ROLLBACK TRANSACTION
	DECLARE @ERROR VARCHAR(MAX);
	SET @ERROR = CONCAT('Mensaje: ',ERROR_MESSAGE(), ' Severidad: ', ERROR_SEVERITY(), ' Estado: ', ERROR_STATE());

	THROW 50001, @ERROR,1;

END CATCH
END;
GO
